.input-query{
    height: 400px; 
    resize: none; 
    border: 2px solid black; 
    border-radius: 5px 5px 0 5px;
    border-right: 0;
    border-bottom: 0;
    outline: none;
}

.display-query{
    height: 200px; 
    border: 2px solid black; 
    border-radius: 5px 0 5px 5px;
    border-right: 0;
    background-color: white;
    overflow-y: auto;
}

.questions{
    height: 600px; 
    border: 2px solid black;
    border-radius: 5px;
    background-color: white;
    overflow-y: auto;
}

@media (max-width: 768px) {
    .input-query{
        border-radius: 5px;
        border-right:  2px solid black; 
    }
    .display-query{
        border-radius: 5px;
        border-right:  2px solid black; 
        border-bottom: 0;
    }

}
